h1{
    font-family: 'Modak', cursive;
    font-size: 4rem;
}

p, a{
  font-family: 'Quicksand', sans-serif;
}

h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.navbar{
    margin-bottom: 0px;
}

.jumbotron{
    
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Modak', cursive;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#logo {
    margin-right: 30px;
  }

.low{
    border-radius: 6px;
    background-color: green;
    padding: 5px;
    color: white;
}

.moderate{
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: black;
}

.high{
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: black;
}

.vhigh{
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: white;
}

.extreme{
    border-radius: 6px;
    background-color: violet;
    padding: 5px;
    color: white;
}

.searchCol{
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 1rem;
    padding-right: 2rem;
    margin-right: -1rem;
}

.card {
    background-color: #3f2a4b;
    color: white;
}